footer {
  height: 80px;
  width: 100%;
  margin-top: -80px;
  display: flex;
  clear: both;
  align-items: center;
  font-family: GillSansItalic;
  justify-content: space-evenly;

  .social-one {
    width: 19px;
    height: 19px;
  }

  .social-two {
    width: 19px;
    height: 19px;
  }
}
