<div class="browseContent">
    
    <div class="browse-box">

        <h1 class="headtext">Recipes: Try some today!</h1>

        <!-- Container One -->
        <a ></a>
        <div class="pizza-container">
            <div class="pizza-image"></div>
        <div class="pizza-browse">
            <p class="title-border">Supreme Pizza</p>
            <p class="left-align">Make pizza night super 
                duper out of this world with 
                homemade pizza. This recipe 
                is supreme with vegetables 
                and two types of meat. Yum!</p>
                <!-- <img src="../images/time.svg"/> -->
                <p class="center-align">1h 24min</p>
                <!-- <img src="../images/servings.svg"/> -->
                <p class="center-align">4 servings</p>
        </div>
    </div>
    <!-- Container Two -->
    <div class="burgertwo-container">
        <div class="burger-image"></div>
        <div class="burger-browse">
            <p class="title-border">Classic Burger</p>
            <p class="left-align">Sink your teeth into a delicious 
                restaurant-style, hamburger recipe 
                made from lean beef. Skip the 
                prepackaged patties and take the 
                extra time to craft up your own, 
                and that little extra effort will be 
                worth it.</p>
                <!-- <img src="../images/time.svg"/> -->
                <p class="center-align">30 min</p>
                <!-- <img src="../images/servings.svg"/> -->
                <p class="center-align">4 servings</p>
    </div>
</div>
<!-- Container Three -->
<div class="chkthree-container">
    <div class="chicken-image"></div>
        <div class="chicken-browse">
            <p class="title-border">Chicken Biryani</p>
            <p class="left-align">Chicken Biryani is a bold and 
                flavorful Indian dish with crazy 
                tender bites of chicken with 
                bell peppers in a deliciously 
                spiced and fragrant rice.</p>
                <!-- <img src="../images/time.svg"/> -->
                <p class="center-align">1h 15min</p>
                <!-- <img src="../images/servings.svg"/> -->
                <p class="center-align">6 servings</p>
</div>
</div>
<!-- Container Four -->

<div class="chinesefour-container">
<div class="chinese-image"></div>
        <div class="chinese-browse">
            <p class="title-border">Ch. Chow Mein</p>
            <p class="left-align">A great Chow Mein comes 
                down to the sauce - it takes 
                more than just soy sauce and 
                sugar! Jam packed with a 
                surprising amount of hidden 
                vegetables, customize this 
                Chicken Chow Mein recipe 
                using your protein of choice!</p>
                <!-- <img src="../images/time.svg"/> -->
                <p class="center-align">20 min</p>
                <!-- <img src="../images/servings.svg"/> -->
                <p class="center-align">4 servings</p>
</div>
</div>

    

</div>

</div>