<div class="create-content">
    <h1 class="welcome-text">Hey Michael, create your recipe!</h1>

   <div class="form-content">
    <form class="recipe-create" action="">

        <!-- Forms First Section -->
                <label>
                     <input type="text" id="addrecipeimg" name="addrecipeimg" placeholder="Add Recipe Image">
                </label>
                <label>
                     <input type="text" id="recipename" name="recipename" placeholder="Recipe Name">
                </label>
                <label>
                        <input type="text" id="recipedesc" name="recipedesc" placeholder="Recipe Description">
                </label>
               <label>
                    <input type="text" id="recipetime" name="recipetime" placeholder="Recipe Total Time">
               </label>
               <label>
                     <input type="text" id="recipeserve" name="recipecerve" placeholder="Recipe Serving Size">
               </label>
                

           
           
        <!-- Second Section -->

            <p class="section-title">Enter Ingredients:</p>
            <label>
                    <input type="text" id="ingredient" name="ingredient" placeholder="Ingredient #1">
            </label>
            <label>
                    <input type="text" id="ingredient" name="ingredient" placeholder="Ingredient #2">
            </label>
            <label>
                <input type="text" id="ingredient" name="ingredient" placeholder="Ingredient #3">
            </label>
           

        <!-- Third Section -->

            <p class="section-title">Enter Instructions:</p>
            <label>
                    <input type="text" id="instruction" name="instruction" placeholder="Instruction #1">
            </label>
            <label>
                 <input type="text" id="instruction" name="instruction" placeholder="Instruction #2">
            </label>
            <label>
                    <input type="text" id="instruction" name="instruction"  placeholder="Instruction #3">
            </label>

            
                 <input class="sub-btn" type="submit" value="Create Recipe">
            
        
    </form>
   </div>
       
</div>
