<div class="homeContent">
    <div class="main-info">
        <p class="main-title">The Jungle Cook</p>
        <p><span>The home to various </span>
            <span>recipes of your choice.</span> 
            <span>Add your own recipe </span>
            <span>today and fill the world </span>
           <span> with joy!</span></p>
           <div class="circle">
               <p class="circle-blurb">Want to be a Jungle Cook? Go ahead and the kitchen is yours!</p>
           </div>
    </div>
</div>

