<nav>
    <div class="jcimage"><img src="images/logo.svg"/></div>
    <div class="links">


        <a id="home" href="#">Home</a>

        <a id="browse" href="#">Browse</a>
        
        <a id="createrecipe" href="#">Create Recipe</a>
        
        <a id="yourrecipes" href="#">Your Recipes</a>
       
        <div class="loginbtn">
        <a id="login" href="#">Login</a>
        </div>

        
    <div class="navicon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div> 
    </div>
</nav>