<div class="yourContent">
    
   <!-- Green Browse Screen -->

    <div class="recipesContainer">
        <h1 class="yourrecipe-header">Hey Michael, here are your recipes!</h1>

    <div class="userRecipeContainer">
        <div class="user-rimage">
            <div class="viewRecipe">
                <a  class="view">View</a>
            </div>
        </div>
        <div class="user-rbrowse">
            <p class="title-border">Supreme Pizza</p>
            <p class="left-align">Make pizza night super 
                duper out of this world with 
                homemade pizza. This recipe 
                is supreme with vegetables 
                and two types of meat. Yum!</p>
                <!-- <img src="/images/time.svg"/> -->
                <p class="center-align">1h 24min</p>
                <!-- <img src="/images/servings.svg"/> -->
                <p class="center-align">4 servings</p>
        </div>

        <div class="edit">
            <a  href="#"class="edit-link">Edit Recipe</a>
        </div>
        <div class="delete">
            <a  href="#" class="delete-link">Delete</a>
        </div>
    </div>

</div>

<!-- recipe data page start -->

<!-- <div class="pic-container">
    <div class="side-text">
        <p class="side-text">Supreme Pizza</p>
    </div>
    <h1>Description:</h1>
    <p>Make pizza night super duper out of this world with homemade pizza. This recipe is supreme with vegetables and two types of meat. Yum!</p>

    <h1>Total Time:</h1>
    <p>1hr 24min</p>

    <h1>Servings:</h1>
    <p>4 Servings</p>

    <h1>Ingredients:</h1>
    <p>1/4 batch pizza dough
        2 tablespoons Last-Minute Pizza Sauce
        10 slices pepperoni
        1 cup cooked and crumbled Italian sausage
        2 large mushrooms, sliced
        1/4 bell pepper, sliced
        1 tablespoon sliced black olives
        1 cup shredded mozzarella cheese</p>


        <h1>Instructions:</h1>
        <p>1. Preheat the oven to 475°. Spray pizza pan with nonstick cooking or line a baking sheet with parchment paper.
            2. Flatten dough into a thin round and place on the pizza pan.
            3. Spread pizza sauce over the dough.
            4. Layer the toppings over the dough in the order listed .
            5. Bake for 8 to 10 minutes or until the crust is crisp and the cheese melted and lightly browned.</p>

</div> -->
</div>
